.tableContainer {
  width: 600px;
  margin-top: 40px;
  font-size: 14px;
  text-align: center;
  border: 0.5px solid #eeee;
}
.tableHeader {
  background-color: hsl(192, 64%, 63%);
  height: 40px;
  text-transform: uppercase;
  color: #ffff;
}
.type {
  text-transform: capitalize;
}
.line {
  height: 40px;
}
.line:nth-child(even) {
  background-color: #eeee;
}
